body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

#imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

#imageContainer img {
  flex: 0 0 40%; /* 幅40%で2列固定 */
  max-width: 40%;
  max-height: 550px;
}
